.experience-description-container {
    padding-left: 40px;
}
.experience-description {
    display: list-item;

}

.social-meida-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;

}
.profile-pic {
  max-width: 300px;
	height: auto;
  border-radius: 50%;
 
}

body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .tag-container {
    display: flex;

  }
  
  .tag-list {
    
    max-width: 830px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
  }
  
  .loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }
  
  .tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 25px;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 1rem; // Must used margin-right instead of gap for the loop to be smooth
    box-shadow: 
      0 0.1rem 0.2rem rgb(0 0 0 / 20%),
      0 0.1rem 0.5rem rgb(0 0 0 / 30%),
      0 0.2rem 1.5rem rgb(0 0 0 / 40%);
    
    span {
        font-size: 20px;
        color: #64748b;
    }
  }
  
  .fade {
    pointer-events: none;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    position: absolute;
    inset: 0;
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .tools-row {
    display: flex;

 
  }

    .tools-row > div {
        font-size: 24px;
        margin-right: 20px;
    }


    :root {
        --base-grid: 8px;
        --colour-white: #fff;
        --colour-black: #1a1a1a;
      }
      
      *, :after, :before {
          box-sizing: border-box;
      }
      
 

      .links {
        --link-size: calc(var(--base-grid)*20);
        color: var(--colour-black);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 35vh;
      }
      
      .links__list {
        position: relative;
        list-style: none;
      }
      
      .links__item {
        width: var(--link-size);
        height: var(--link-size);
        position: absolute;
        top: 0;
        left: 0;
        margin-top: calc(var(--link-size)/-2);
        margin-left: calc(var(--link-size)/-2);
        --angle: calc(360deg/var(--item-total));
        --rotation: calc(140deg + var(--angle)*var(--item-count));
        transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*2)) rotate(calc(var(--rotation)*-1));
      }
      
      .links__link {
        opacity: 0;
        animation: on-load .3s ease-in-out forwards;
        animation-delay: calc(var(--item-count)*150ms);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        background-color: var(--colour-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }
      
      .links__icon {
        width: calc(var(--base-grid)*8);
        height: calc(var(--base-grid)*8);
        transition: all .3s ease-in-out;
        fill: var(--colour-black);
      }
      
      .links__text {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        height: calc(var(--base-grid)*2);
        font-size: calc(var(--base-grid)*2);
        display: none;
        bottom: calc(var(--base-grid)*8.5);
        animation: text .3s ease-in-out forwards;
      }
      
      .links__link:after {
        content: "";
        background-color: transparent;
        width: var(--link-size);
        height: var(--link-size);
        border: 2px dashed var(--colour-white);
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s cubic-bezier(.53,-.67,.73,.74);
        transform: none;
        opacity: 0;
      }
      
      .links__link:hover .links__icon {
        transition: all .3s ease-in-out;
        transform: translateY(calc(var(--base-grid)*-1));
      }
      
      .links__link:hover .links__text {
        display: block;
      }
      
      .links__link:hover:after {
        transition: all .3s cubic-bezier(.37,.74,.15,1.65);
        transform: scale(1.1);
        opacity: 1;
      }
      
      @keyframes on-load {
        0% {
          opacity: 0;
          transform: scale(.3);
        }
        70% {
          opacity: .7;
          transform: scale(1.1);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      @keyframes text {
        0% {
          opacity: 0;
          transform: scale(0.3) translateY(0);
        }
        100% {
          opacity: 1;
          transform: scale(1) translateY(calc(var(--base-grid)*5));
        }
      }

.tools-row {
    display: flex;

 
  }

  .tool-info {
    display: flex;
    padding-top: 4px;
    height: 80px;
    width: 100px;
    min-width: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.2s;

  }


.tool-info:hover {
    background-color:  #ffffff;

    .tool-logo, .tool-name {
        color: #000000;
    }
    .a {
      stroke: #000000;
    }
}

  .tool-logo {
    height: 75px;
  }

    .tool-name {
        font-size: 15px;
        color: white;
    }


.hexagon-container {
  display: flex;


}



.hexagon-wrapper {
  margin: 5;
  display: flex;
  text-align: initial;
  width: 130px;
  height: 130px;
  cursor: pointer;
  flex-direction: column;
  
}

.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: rgb(121, 117, 117);
  background: linear-gradient(-180deg, rgb(89, 88, 88), #bcbaba);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.hexagon i {
  z-index: 1;
  margin: auto;
  font-size: 50px;
  color: transparent;
  background: linear-gradient(45deg, #a58fe9, #e37682);
  background-clip: text;
  -webkit-background-clip: text;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon:before {
  transform: rotateZ(60deg);
}
.hexagon:after {
  transform: rotateZ(-60deg);
}
.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}

.framework-logo {
  height: 70px;
  border-radius: 50%;
}

.framework-name {
  margin: 0;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900');


.libraries-container {
  display: flex;
  align-items: first baseline;


}

#wrapper{
  margin-right: 15px;
  box-sizing:border-box;
  display:flex;
  align-items:first baseline;
  flex-direction: column;
  width: 150px;
  align-items: center;


}
.my-super-cool-btn{
  position:relative;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  font-size:2rem;
  box-sizing:border-box;
}

.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:150px;
  height:150px;
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border-width: 7px;
  border-style: solid;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);

}

.color-bootstrap span:before{
  border-color:#c300f4;
}

.color-selenium span:before{
  color: rgb(21, 16, 16);
  border-color:#10e217;

}



.my-super-cool-btn:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  z-index: 99;

}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot{
  width:8px;
  height:8px;
  display:block;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.color-bootstrap .dot {
  background-color:#c300f4;

}
.color-selenium .dot {
  background-color:#10e217;
}
.color-bootstrap span:hover {
  color: #c300f4;
}
.color-selenium span:hover {
  color: #10e217;
}

.my-super-cool-btn .dot:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn:hover .dot:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}
@keyframes swag1 {
   0% {
     top:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag1-out {
   0% {
     top:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
   0% {
     top:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag2-out {
   0% {
     top:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
   0% {
     bottom:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag3-out {
   0% {
     bottom:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
   0% {
     bottom:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag4-out {
   0% {
     bottom:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}


.libraries-name {
  font-size: 20px;
  font-weight: bold;

  

}





.project-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  height: 600px;
  width: 700px;
}


.project {
  display: grid;
  grid-template-rows: 250px 50px;
  background-color: #334155;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 5s;

}

.project:hover {

    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);



  
}

.project-img {
  height: 100%;
  width: 100%;
}

.project-name-container {
  text-align: center;
  padding-top: 7px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

}
.project-name {
  color: rgb(0, 213, 255);
  font-size: 24px;
  font-weight: 500;

}

.project-description {
  font-size: 18px;
  padding: 15px;

}